<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe Ideas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <h1>Safe Ideas</h1>
    <p>Ushbu loyiha Telegram bot hisoblanadi</p>
    <h2>Asosiy g'oya</h2>
    <p>Biznek egalarinign yoki dasturchilarning g'oyalarini yi'gib borishi va birlashtirishi uchun ko'maklashuvchi loyiha</p>

    <h2>Reja</h2>
    <ol>
        <li>Loyihalar qo'shish va kunlik eslatmalar olish loyihaga qo'shimchalarni qo'shib borish</li>
        <li>Qo'shimchalarni audio yoki textda kiritish va audioni avto textga o'girish va keyinchalik uni yana eshitib ko'rish va textni mukammalashtirish</li>
        <li>Kelajaktagi rejalarni tuzish imkoni</li>
        <li>Rejalarni mavjudligini va ularni qilish kerakligi haqida eslatmalar</li>
        <li>Shu bilan birga uni o'z bo'sh vaqtga sozlash yoki bir necha kun keyinga surish imkoni</li>
    </ol>

<h2>Kelajakdagi rejalar</h2>
<ol>
    <li>Loyihani AI orqali qo'shimchalar qo'sha olish</li>
    <li>AI savol javoblari orqali malumot olib oson qo'shimcha qiluvchi textni yaratish</li>
    <li>AI asosida loyihaning barcha imkoniyatlarini birlashtirib bir xil yoki bir biriga yaqin qo'shimchalarni baholab umumiy rejalarni bosqichma bosqich ketma-ketlikga ajratish</li>
</ol>

<h2>Ishlatilgan texnalogiyalar</h2>
<ol>
    <li>Django (SQLite)</li>
    <li>HTML CSS JS</li>
    <li>Aiogram</li>
</ol>

</body>
</html>

